html, body {
    height: 100%;
    font-size: 16px;
}

body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4em;
}

#content {
    height: 100%;
    position: relative;
}

#signin-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
}

.tasklist {
    padding: 0px;
    position: absolute;
    overflow: auto;
    top: 28px;
    bottom: 0px;
    width: 100%;
    margin: 0px;
}

.tasklist h3 {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 2px;
    color: #83AECA;
}

.tasklist ul {
    list-style: none outside none;
    padding: 0px;
    width: 100%;
    margin: 0px;
}

.tasklist .item {
    height: 28px;
    padding: 0px;
    padding-right: 0.5em;
    margin: 0 0;
    background-color: #e9f2f9;
    border-bottom: 1px solid #96B4CD;
    text-align: left;
}

.tasklist .item.item-due-past {
    background-color: #FFEDED;
}

.tasklist .item .item-text {
    width: auto;
    overflow: hidden;
}

.tasklist .item .item-complete {
    float: left;
}

.tasklist .item .item-text-input {
    padding-left: 0.4em;
    background: none;
    border: 0px;
    outline: 0;
    width: 100%;
    text-overflow: ellipsis;
}

.tasklist .item .item-tags {
    float: right;
    margin-left: 1em;
    margin-right: 0px;
}

.tasklist .item .item-tag {
    font-size: smaller;
    color: #386C8E;
    margin: 0.5em;
}

.tasklist .item .item-contexts {
    float: right;
    margin-left: 0px;
    margin-right: 0.5em;
}

.tasklist .item .item-due-wrapper {
    float: right;
    margin-left: 0px;
    margin-right: 0.5em;
}

.context-btns {
    padding: 0px;
}

.item-contexts .item-context,
.context-btns .context-shown,
.context-btns .context-hidden {
    font-size: smaller;
    color: #E2EFF8;
    background-color: #386C8E;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

.item-due-wrapper .item-due {
    font-size: 8pt;
/*    border-style: solid;
    border-width: 1px;
    border-radius: 5px;*/
    padding: 2px;
    cursor: pointer;
}

.item-due-high .item-due, .item-due-past .item-due {
    color: red;
    border-color: red;
}

.item-due-med .item-due {
    color: darkorange;
    border-color: darkorange;
}

.item-due-low .item-due {
    color: green;
    border-color: green;
}

.context-btns li {
    display: inline;
}

.item-contexts .context-shown {
    opacity: 0.3;
}

.context-btns .context-shown {
    background-color: black;
}

.tasklist .item .item-edit {
    float: right;
    cursor: pointer;
}

.tasklist .item:hover .item-edit {
    visibility: visible;
}

.tasklist .item .drag-handle {
    height: 1.6em;
    float: left;
    cursor: move;
    width: 1em;
    margin-right: 0.3em;
    background: repeating-linear-gradient(90deg, #83AECA, #83AECA 1px, #e9f2f9 1px, #e9f2f9 2px);
}

.tasklist .item.item-due-past .drag-handle {
    background: repeating-linear-gradient(90deg, #FFB4B4, #FFB4B4 1px, #FFEDED 1px, #FFEDED 2px);
}

.tasklist .item .item-edit-box {
    float: right;
    width: 60%;
}

#header {
    /*height: 40px;*/
    overflow: hidden;
}

.signin-btn {
    float: right;
}

#sidebar {
    width: 10em;
    float: left;
}

#sidebar-button-wrapper {
    float: left;
    height: 28px;
    display: none;
}

@media (max-width: 35em) {

#sidebar.sidebar-inactive {
    display: none;
}

#sidebar.sidebar-active {
    position: fixed;
    top: 28px;
    bottom: 0px;
    background-color: white;
    z-index: 1;
}

#sidebar-button-wrapper {
    display: block;
}

}
