<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script src="https://apis.google.com/js/client:platform.js"></script>
  </head>
  <body ng-app="myapp2App" ng-controller="tasklistController">
    <!-- Add your site or application content here -->

    <div id="sidebar" ng-class="sidebarActive? 'sidebar-active': 'sidebar-inactive'">
        <div ng-repeat="f in filters">
            <label><input type="radio" ng-model="filter" ng-value="f">{{f.name}}</label>
        </div>
        <ul class="context-btns">
            <li ng-repeat="ctx in taskapi.contexts"><span ng-class="getCtxBtnClass(ctx)" ng-click="filterByContext(ctx, $event)">{{ctx}}&#8203;</span></li>
        </ul>
        <button ng-click="signout()">Sign out</button>
    </div>

    <div id="content" style="overflow: hidden" ng-click="hideSidebar()">
        <div id="header" style="display: block; width: 100%;overflow: hidden;">
            <div id="sidebar-button-wrapper">
                <img src="/images/menu.png" style="display: block; height: 100%; width: auto" ng-click="toggleSidebar($event)">
            </div>
            <div style="overflow: hidden">
                <input style="display: block; width: 100%" type="text" ui-keypress="{13:'createNewTask($event)'}"
                    placeholder="{{getNewTaskHint()}}" ng-disabled="!taskapi.signedin" arrow-navigable>
            </div>
        </div>

        <div ng-if="!taskapi.signedin" id="signin-button">
            <div gsignin></div>
        </div>

        <ul ui-sortable="sortableOptions" id="tasklist" ng-model="tasklist.filtered">
            <li ng-repeat="entry in tasklist.filtered" class="item">
                <div class="drag-handle"></div>
                <div inline-edit-context="{ get: 'entry.getDescriptor()', set: 'applyDescriptor(entry, $value)'}">
                    <input class="item-complete" type="checkbox" ng-model="entry.complete">

                    <img class="item-edit" ng-click="beginEdit()" ng-hide="editting || entry.tags.length || entry.contexts.length" src="/images/item-edit.png">

                    <span class="item-contexts" ng-click="beginEdit()" ng-hide="editting">
                        <span ng-repeat="ctx in entry.contexts"><span class="item-context" ng-class="getCtxBtnClass(ctx)">{{ctx}}</span></span>
                    </span>

                    <span class="item-date-wrapper" ng-click="beginEdit()" ng-hide="editting || entry.startDate === 'next'">
                        <span class="item-date">{{entry.getFriendlyStartDate()}}</span>
                    </span>

                    <span class="item-tags" ng-click="beginEdit()" ng-hide="editting">
                        <span class="item-tag" ng-repeat="tag in entry.tags">#{{tag}}</span>
                    </span>

                    <input class="item-edit-box" inline-edit-input type="text" placeholder="^start #proj @context">

                    <div class="item-text">
                        <input class="item-text-input" type="text" ng-model="entry.text" arrow-navigable>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-ui-utils/keypress.js"></script>
    <script src="bower_components/angular-taglist/js/angular-taglist-directive.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
